{% extends "layout.html" %}
{% block body %}
  <h2>Select threads</h2>
  <form method="POST">    
        <input type="radio" name="option" value="Dev_Inf" />Devices and Info-network<br>       
        <input type="radio" name="option" value="Dev_Int" />Devices and Intelligence<br> 
        <input type="radio" name="option" value="Dev_Med" />Devices and Media<br>       
        <input type="radio" name="option" value="Dev_Mod" />Devices and Modeling<br> 
        <input type="radio" name="option" value="Dev_Peo" />Devices and People<br>       
        <input type="radio" name="option" value="Dev_Sys" />Devices and SysArch<br>
        <input type="radio" name="option" value="Dev_The" />Devices and Theory<br>

        <input type="radio" name="option" value="Inf_Int" />Info-network and Intelligence<br>      
        <input type="radio" name="option" value="Inf_Med" />Info-network and Media<br>      
        <input type="radio" name="option" value="Inf_Mod" />Info-network and Modeling<br>      
        <input type="radio" name="option" value="Inf_Peo" />Info-network and People<br>      
        <input type="radio" name="option" value="Inf_Sys" />Info-network and Sysarch<br>      
        <input type="radio" name="option" value="Inf_The" />Info-network and Theory<br>      

        <input type="radio" name="option" value="Int_Med" />Intelligence and Media<br>      
        <input type="radio" name="option" value="Int_Mod" />Intelligence and Modeling<br>      
        <input type="radio" name="option" value="Int_Peo" />Intelligence and People<br>      
        <input type="radio" name="option" value="Int_Sys" />Intelligence and Sysarch<br>      
        <input type="radio" name="option" value="Int_The" />Intelligence and Theory<br>      

        <input type="radio" name="option" value="Med_Mod" />Media and Modeling<br>      
        <input type="radio" name="option" value="Med_Peo" />Media and People<br>      
        <input type="radio" name="option" value="Med_Sys" />Media and Sysarch<br>      
        <input type="radio" name="option" value="Med_The" />Media and Theory<br>

        <input type="radio" name="option" value="Mod_Peo" />Modeling and People<br>      
        <input type="radio" name="option" value="Mod_Sys" />Modeling and Sysarch<br>      
        <input type="radio" name="option" value="Mod_The" />Modeling and Theory<br>

        <input type="radio" name="option" value="Peo_Sys" />People and Sysarch<br>      
        <input type="radio" name="option" value="Peo_The" />People and Theory<br>

        <input type="radio" name="option" value="Sys_The" />Sysarch and Theory<br>

        <input type="submit" value="Submit">
  </form>
{% endblock %}
